<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src=".\assets\img\profile-pic.jpeg" />
      <ion-card-header>
        <ion-card-title>Leandro Cesar dos Santos Rodrigues Mello</ion-card-title>
        <ion-card-subtitle>Turma: ADS0301M</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Avaliação Formadora 1
      </ion-card-content>
    </ion-card>
    <ion-button routerLink="/endereco">Buscar Endereço</ion-button>
  </div>
</ion-content>
